@font-face {
    font-family: vazir;
    src: url(../Vazir.ttf);
}

* {
    font-family: vazir;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 10vh;
    background-color: forestgreen;
    user-select: none;
}

.nav div {
    width: 100px;
    height: 100%;
    color: white;
    margin: 0 10px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav .navleft {
    float: left;
}

.profile {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: right;
}

.profile .profilevalue {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.profile .profilevalue p {
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid forestgreen;
}

.profile .profilevalue span {
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid forestgreen;
}

.post {
    width: 100%;
    height: 90vh;
    border-radius: 15px;
    display: none;
    overflow: hidden;
}

header {
    width: 100%;
    height: 10vh;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postmain {
    width: 100%;
    height: 80vh;
}

.postr {
    width: 30%;
    height: 100%;
    padding: 30px;
    float: right;
}

.postr textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border-radius: 5px;
    border: 1px solid forestgreen;
    outline: none;
    text-align: right;
    font-size: 17px;
    padding: 20px;
}

.postr .ersal {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px forestgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.postr .ersal:hover {
    background-color: forestgreen;
    color: white;
}

.postl {
    width: 70%;
    height: 100%;
    float: left;
}

.postl .posts {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 15px;
}

.postl .posts .poststitr {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postl .posts .poststitr div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postl .posts .divspost {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postl .posts .divspost .divpost {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 10px;
}

.form {
    width: 100%;
    height: 90vh;
    display: none;
}

.formmain {
    width: 100%;
    height: 80vh;
}

.formr {
    width: 40%;
    height: 100%;
    float: right;
    padding: 0 100px;
}

.formr div {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formr div label {
    width: 100px;
    height: 30px;
    text-align: left;
    position: absolute;
    top: 50%;
    right: -70px;
    transform: translateY(-40%);
    font-size: 0.8rem;
}

.formr div p {
    font-size: 20px;
}

.formr div input {
    width: 70%;
    height: 40px;
    border: 0;
    outline: 0;
    text-align: right;
    border-radius: 5px;
    padding-right: 20px;
    border: 1px solid forestgreen;
}

.formr div #btn {
    width: 80%;
    height: 35px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    transition: 0.2s;
    text-align: center;
    padding-right: 0;
    box-shadow: 0 0 1px 1px forestgreen;
    cursor: pointer;
}

.formr div #btn:hover {
    background-color: forestgreen;
    color: white;
}

.forml {
    width: 60%;
    height: 100%;
}

.forml .admins {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.forml .admins .adminstitr {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forml .admins .adminstitr div {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forml .admins .divsuser {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forml .admins .divsuser .divuser {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes btn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes text {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px 0 gray;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 128, 83);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(8, 113, 76);
}