@font-face {
    font-family: vazir;
    src: url(../Vazir.ttf);
}

* {
    font-family: vazir;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row-reverse;
    user-select: none;
}

.nav div {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    color: rgb(150, 0, 150);
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}   

.profile {
    width: 40%;
    height: 90vh;
    margin-top: 50px;
    border-radius: 15px;
    display: none;
    padding-bottom: 20px;
}

.profile-t {
    width: 103%;
    height: 30%;
    margin: 0 auto;
    margin-bottom: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}

.profile-b {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 30px;
}

.progrid {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progrid p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divpost {
    width: 100%;
    height: 87vh;
    margin-top: 3vh;
    border-radius: 15px;
    overflow: hidden;
}

.divpost header {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
}

.divpost header p {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divpost .posts {
    width: 100%;
    overflow: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    position: absolute;
    z-index: 0.9;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
}

.divpost .posts .bot {
    position: relative;
    margin: 0 5%;
    margin-bottom: 25px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: text 0.3s;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
}

.divpost .posts .bot p {
    display: flex;
    justify-content: right;
    align-items: center;
    color: black;
    font-size: 17px;
    text-align: right;
    padding: 0 40px;
}

.divpost .posts .bot .pt {
    width: 100%;
    height: 40%;
    font-size: 17px;
}

.divpost .posts .bot .pb {
    width: 100%;
    height: 60%;
    font-size: 17px;
    align-items: flex-start;
}

.divpost .posts .bot p .time {
    color: rgba(0, 0, 0, 0.6);
    transition: 0.2s;
    text-align: right;
}

@keyframes text {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

::selection {
    background-color: white;
    color: green;
}